<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/product-listing.css">
    <link rel="stylesheet" href="/stylesheets/farmer-store.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="navbar__products">
        <ul class="navbar__products-list">
            <li><a href="/">Home</a> <img src="/assets/svg/dropdown.svg" alt=""></li>
            <li><a href="/products">Shop</a> <img src="/assets/svg/dropdown.svg" alt=""></li>
            <li><a href="">Pages</a><img src="/assets/svg/dropdown.svg" alt=""></li>
        </ul>
        <div class="navbar__products-div">
            <img class="navbar__assets" src="/assets/svg/search.svg" alt="">
            <input class="navbar__products-input" type="text">
        </div>
    </nav>
    <section class="main_store">
        <section class="store">
            <h2>Farmer Store Information</h2>
            <form class="store__form" enctype="multipart/form-data" action="/store/create?_method=PUT" method="post">
                <h2>Store Name</h2>
                <input id="store__name" type="text" name="storeName" value="<%= farmer.storeName %>">
                <ul class="mushroom__list">
                    <li class="mushroom__item">
                        <section class="store__name">
                            <div>
                                <label for="">Type 1 of mushroom grown</label>
                                <input class="mushroom-type" type="text" placeholder="Type" name="type"
                                    value="<%=farmer.mushrooms[0].type%>" required>
                            </div>
                            <div>
                                <label for="location">Location</label>
                                <input id="locatin" class="mushroom-size" type="text" placeholder="Location"
                                    name="location" value="<%=farmer.mushrooms[0].size%>" required>
                            </div>
                        </section>
                        <div class="store__address">
                            <label for="">Images of the Type grown</label>
                            <input class="image-file-mushroom" type="file" placeholder="Images" name="mushrooms-images"
                                accept="image/*" multiple required>
                        </div>
                        <section class="store__more-info">
                            <div>
                                <label for="size-1">Size of land in acres</label>
                                <input id="size-1" class="mushroom-size" type="text" placeholder="Size" name="size"
                                    value="<%=farmer.mushrooms[0].size%>" required>
                            </div>
                            <div>
                                <label for="use-1">Intended Use Of the Mushroom</label>
                                <input id="use-1" class="mushroom-use" type="text" placeholder="Use" name="use"
                                    value="<%=farmer.mushrooms[0].intendedUse%>" required>
                            </div>
                        </section>
                    </li>
                </ul>
                <!-- <button id="save" class="store__location__button">Save</button>
                <div id="remove" class="store__location__button">Close</div> -->

                <ul class="product-list">
                    <li>
                        <h1>Upload New Product</h1>
                        <div class="form-group">
                            <label for="product-name">Product Name:</label>
                            <input type="text" id="product-name" name="product_name" required>
                        </div>
                        <div class="form-group">
                            <label for="product-description">Description:</label>
                            <textarea id="product-description" name="product_description" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="product-price">Price:</label>
                            <input type="number" id="product-price" name="product_price" min="0" required>
                        </div>
                        <div class="form-group">
                            <label for="product-image">Product Image:</label>
                            <input class="image-file-product" type="file" id="product-image" name="products"
                                accept="image/*" multiple required>
                        </div>
                    </li>
                </ul>
                <button type="submit" class="order__summary-button">Edit Product</button>
            </form>
        </section>
        <!-- <section class="order__summary">
            <div class="order__summary__1">
                <h2>Mushroom Summary</h2>
                <ul class="order__summary-list">
                    <li class="order__summary-list-item">
                        <img src="./assets/pictures/capsicum.jpeg" alt="">
                        <p>Green Capsicum x5</p>
                        <span>sh70</span>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Payment Method</h3>
                <input type="checkbox" name="cash_on_delivery" id="">
                <p>Cash On Delivery</p>
            </div>

            <button class="order__summary-button">Place Order</button>
            <button id="add" class="order__summary-button">Add Item</button>
        </section> -->
    </section>
    <!-- <script src="/javascript/post-store.js"></script> -->

</body>

</html>