<% layout('layout/boilerplate.ejs') %>
    <nav class="navbar__products">
        <ul class="navbar__products-list">
            <li><a href="/">Home</a> <img src="./assets/svg/dropdown.svg" alt=""></li>
            <li><a href="/products">Shop</a> <img src="./assets/svg/dropdown.svg" alt=""></li>
            <li><a href="/contacts">Contact Us</a><img src="./assets/svg/dropdown.svg" alt=""></li>
            <li><a href="/profile/edit">Edit Store</a></li>
            <li><a href="/profile/delete">Delete Store</a></li>
            <li class="list__items"><a href="/profile">Profile</a></li>

        </ul>
        <a class="cart" href="/place-order">
            <div class="cart-num"><span>0</span></div><img class="navbar__assets" src="/assets/icons/shopping-cart.png"
                alt="">
        </a>
        <div class="navbar__products-div">
            <img class="navbar__assets" src="/assets/svg/search.svg" alt="">
            <input class="navbar__products-input" type="text">
        </div>
    </nav>
    <section class="container">
        <section class="categories">
            <h2>
                Farmer Profile
            </h2>
            <section class="categories__list-section">
                <ul class="categories__list">
                    <% for (const mushroom of farmer.mushrooms) { %>
                        <li class="categories__list-item">
                            <figure class="categories__list-card">
                                <img class="categories__list-image" src="/mushrooms-images/<%= mushroom.images[0] %>"
                                    alt="">
                                <figcaption class="categories__list-caption">
                                    <%= mushroom.type %>
                                </figcaption>
                            </figure>
                        </li>
                        <% } %>
                </ul>
            </section>
        </section>
        <section class="products__list-section">
            <h2>
                Popular Products
            </h2>
            <ul class="products__list">
                <% for (const product of farmer.products) { %>
                    <li class="products__list-item">
                        <figure class="products__list-card">
                            <div class="products__list-card-div">
                                <img class="products__list-image" src="/products/<%= product.image[0] %>" alt="">
                            </div>
                            <!-- <span class="products__list-span">Sale 50%</span> -->
                            <figcaption class="products__list-caption" data-id="<%= product.id %>">
                                <div>
                                    <p class="product-name">
                                        <%= product.name %>
                                    </p>
                                    <span>
                                        <%= product.price %>
                                    </span>
                                    <div>
                                        <span><img src="/assets/svg/star.svg" alt=""></span>
                                        <span><img src="/assets/svg/star.svg" alt=""></span>
                                        <span><img src="/assets/svg/star.svg" alt=""></span>
                                        <span><img src="/assets/svg/star.svg" alt=""></span>
                                        <span><img src="/assets/svg/star.svg" alt=""></span>
                                    </div>
                                </div>

                                <button class="circle">
                                    <img src="/assets/svg/Bag.svg" alt="">
                                </button>
                            </figcaption>
                        </figure>
                    </li>
                    <% } %>
            </ul>
        </section>
    </section>
    <script src="/javascript/add-to-cart.js"></script>